body {
  padding-top: 40px;
}

.container {
  width: 100%;
}

.topbar .fill {
  padding: 0 20px;
}

#itemlist {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 40px;
  background-color: #eee;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  /*-webkit-box-shadow: 5px 0px 5px #ddd;*/
}

#item-selector {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  background-color: #eee;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;  
  /*-webkit-box-shadow: 0px -5px 5px #ddd;*/
  display:none;
}

#hipster-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: absolute;
  top: 40px;
  background-color: #fff;
}

.box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #aaa;
  background-color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.item-collection .box {
  display: block;
}

#item-selector .box {
  float: left;
}

.box.active {
  background-color: red;
  color: white;
}

#hipster-container {
  /*border: 1px solid red;*/
}

#hipster {
  /*border: 1px solid green;*/
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: absolute;
  display: none;
}

#hipster-svg {
  /*border: 1px solid blue;*/
}

.animate {
  -webkit-animation-delay: 500ms;
	-webkit-animation-name: hipster-hover;
	-webkit-animation-duration: 5s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hipster-hover {
  0% {
    margin-top: 0px;
    margin-left: 0px;
  }
  
  83% {
    margin-top: 0px;
    margin-left: 0px;
  }
  
  84% {
    margin-top: -2px;
    margin-left: 0px;
  }
  
  88% {
    margin-top: 2px;
    margin-left: 0px;
  }
  
  92% {
    margin-top: -2px;
    margin-left: 2px; 
  }
  
  96% {
    margin-top: 2px;
    margin-left: 2px;
  }
  
  100% {
    margin-top: 0px;
    margin-left: 0px;
  }
}
