#item-collection {
  padding-bottom: 50px;
  width: 200px;
}

#item-selector {
  height: 130px; 
  margin-left:200px;
}

#hipster-container {
  margin-left: 200px;
  margin-bottom: 125px;
}

.box {
  width: 100px;
  height: 100px;
}

#item-collection .box {
  margin: 10px auto;
}

#item-selector .box {
  margin: 15px;
}

#hipster {
  width:200px;
}
