#item-collection {
  width: 90px;
}

#item-selector {
  height: 80px; 
}

#items {
  margin-left:auto;
  margin-right:auto;
  width: 750px;
}

.box {
  width: 50px;
  height: 50px;
}

#hipster-container {
  height: 600px;
}

#item-collection .box {
  margin: 10px;
}

#item-selector .box {
  margin: 10px 5px;
}

#hipster {
  height:0px;
}
