

#item-collection {
  width: 200px;
}

#item-selector {
  height: 120px; 
}

#items {
  margin-left:auto;
  margin-right:auto;
  width: 1080px;
}

#hipster-container {
  height: 600px;
}

.box {
  width: 100px;
  height: 100px;
}

#item-collection .box {
  margin: 10px auto;
}

#item-selector .box {
  margin: 10px;
}

#hipster {
  height: 0px;
}
